<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
    <!--[if IE 8]>
      <script src="https://raw.githubusercontent.com/aFarkas/html5shiv/master/src/html5shiv.js"></script>
      <![endif]-->

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="dist/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="dist/js/script.min.js" charset="utf-8"></script>
  </head>
  <body>
  <div class="wrapper">
    <header>
       <div class="header__container">
        <div class="header__top">
          <div class="header__contact">
          <a href="#" class="top__link">Log in</a>
          <a href="#" class="top__link">Sign up</a></div>
          <a href="#" class="top__title">URLAUBSGLÜCK</a>
        </div>
      <div class="header__bottom">
        <p class="bottom__title">Share your</p>
        <p class="bottom__title">holiday dreams</p>
        <p class="bottom__text">And find the perfect partner to fullfill it</p>
        <button class="bottom__button">Find your holiday partner</button>
      </div>
          </div>
    </header>

      <section class="slider">
        <h2 class="slider__title">How Urlaubsglück works?</h2>
        <div class="slider__mobile">
        <ul class="mobile__list">
        <li class="mobile__item mobile__item--first">
          <div class="mobile__wrapper">
          <h3 class="mobile__num">step 1</h3>
          <h2 class="mobile__title">Sed leo enim, condimentum</h2>
          <p class="mobile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p></div></li>
        <li class="mobile__item mobile__item--second">
          <div class="mobile__wrapper">
          <h3 class=" mobile__num mobile__num--second">step 2</h3>
          <h2 class="mobile__title">Morbi velit risus</h2>
          <p class="mobile__text mobile__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p></div></li>
        <li class=" mobile__item mobile__item--third">
          <div class="mobile__wrapper">
          <h3 class="mobile__num">step 3</h3>
          <h2 class="mobile__title">Sed leo enim, condimentum</h2>
          <p class="mobile__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p></div></li>
            </ul>
        </div>
        <div class="slider__desktop">
        <ul class="slider__list">
        <li class="slider__item">
        <ul class="bxslider">
        <li>
        <img class="slider__img" src="img/slider1.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 1</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p></div></li>
        <li>
        <img class="slider__img" src="img/slider2.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num slider__num--second">step 2</h3>
        <h2 class="slider__caption">Morbi velit risus</h2>
        <p class="slider__text slider__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p></div></li>
        <li>
        <img class="slider__img" src="img/slider3.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 3</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>  </div></li>
                    </ul></li>
        <li class="slider__item">
        <ul class="bxslider">
        <li>
        <img class="slider__img" src="img/slider2.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num slider__num--second">step 2</h3>
        <h2 class="slider__caption">Morbi velit risus</h2>
        <p class="slider__text slider__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p></div></li>
        <li>
        <img class="slider__img" src="img/slider3.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 3</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>  </div></li>
        <li>
        <img class="slider__img" src="img/slider1.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 1</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p></div></li>
                    </ul></li>
        <li class="slider__item">
        <ul class="bxslider">
        <li>
        <img class="slider__img" src="img/slider3.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 3</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>  </div></li>
        <li>
        <img class="slider__img" src="img/slider1.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num">step 1</h3>
        <h2 class="slider__caption">Sed leo enim, condimentum</h2>
        <p class="slider__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p></div></li>
        <li>
        <img class="slider__img" src="img/slider2.png" alt="slider-pic"/>
        <div class="slider__wrapper">
        <h3 class="slider__num slider__num--second">step 2</h3>
        <h2 class="slider__caption">Morbi velit risus</h2>
        <p class="slider__text slider__text--second">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p></div></li>
            </ul></li>
            </ul></div>
    </section>
    <section class="partners">
      <h2 class="partners__title">Meet a partner for your best holiday</h2>
        <ul class="partner__list">
       <li class="partner__item">
        <div class="partner__img"></div>
        <span class="partner__icon-tv"></span>
        <h3 class="partner__title">Bradley Hunter</h3>
        <p class="partner__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partner__item partner__item--des">
        <div class="partner__img partner__img--second"></div>
        <span class="partner__icon-coffee"></span>
        <h3 class="partner__title">Heather Walker</h3>
        <p class="partner__text">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partner__item">
        <div class="partner__img partner__img--third"></div>
        <span class="partner__icon-chem"></span>
        <h3 class="partner__title">Lucas Marsha</h3>
        <p class="partner__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
        </li>
        <li class="partner__item partner__item--mob">
        <div class="partner__img partner__img--second"></div>
        <span class="partner__icon-coffee"></span>
        <h3 class="partner__title">Heather Walker</h3>
        <p class="partner__text">I'm a happy person that loves cats and climbing on mountains.</p>
        </li>
        <li class="partner__item">
        <div class="partner__img partner__img--fourth"></div>
        <span class="partner__icon-plane"></span>
        <h3 class="partner__title">Bradley Hunter</h3>
        <p class="partner__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li></ul>
        <button class="partners__button">See other partners</button>
     </section>
      <section class="ideas">
      <h2 class="ideas__title">Discover holiday activity ideas</h2>
      <script type="text/template" id="container">
        <div class="grid">
        <% for (var i = 0; i < 10; i++) { %>
        <div  class="grid-item">
        <img src="<%= hits[i].webformatURL %>" alt="picture" class="ideas__img"/>
        <figcaption class="ideas__caption"><%= hits[i].tags.split(', ')[1] %></figcaption></div ><% } %></div>
        </script>
      </section>
      <section class="search">
        <h2 class="search__title">Discover holiday activity ideas</h2>
        <p class="search__text">Hi! What are your holiday interests?</p>
        <input type="search" placeholder="Enter your interests" class="search__field"/>
        <button class="search__button">Search partners</button>
       </section>
       <footer>
        <div class="basement">
        <a href="#" class="basement__title">URLAUBSGLÜCK</a>
        <div class="company">
        <h3 class="company__title">Company</h3>
        <ul class="company__list">
        <li class="company__item"><a href="#" class="company__link">About</a></li>
        <li class="company__item"><a href="#" class="company__link">Contacts</a></li>
        <li class="company__item"><a href="#" class="company__link">Press</a></li>
        <li class="company__item"><a href="#" class="company__link">Blog</a></li>
        </ul></div>
        <div class="company__partners">
        <h3 class="company__title company--partners">Partners</h3></div>
        <div class="logo">
        <h4 class="logo__title">Designed by</h4>
        <a href="#" class="logo__link"><img src="img/logo.png" alt="logo" class="logo__img"/></a></div>
        </div>
</footer>
</div>
  </body>
</html>
