<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="js/tmpl.js"></script>
    <script src="js/test.js"></script>
  </head>
  <body>
    <script type="text/html" id="test">
      <h1><%=title%></h1>
      <form action="index.html" method="post" id="questionForm">
    <% for ( var j = 0; j < fields.length; j++ ) {%><h3><%=fields[j].question%></h3>
  <div id="group">    <ul><% for ( var i = 0; i < fields[j].answer.length; i++ ) {%>
        <li><input type="checkbox" id="<%=fields[j].id[i]%>" >
        <label for="<%=fields[j].id[i]%>"><%=fields[j].answer[i]%></label>
      </li>
      <% } %>
      </ul>
       </div>
       <% } %>
      </form>
      <button type="button" id="submit"><%=submit%></button>
    </script>
<div class="modal">
  <div class="modal-window">
    <div class="modal-header">
    <h4>Ваш результат:</h4>
    </div>
    <div class="result"></div>
    <div class="modal-footer"><button type="button" id="close">Close</button>
</div></div></div>
  </body>
</html>
